*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

.magicbacll{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ball8_outer{
    position: relative;
    width: 360px;
    height: 360px;
    background-color: rgb(158, 154, 154,0.1);
    border-radius: 50%;
    filter: blur(10px);
    top: 10px;
}

.ball8{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shake{
    animation: shake-it;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.ball_big_circle{
    width: 200px;
    height: 200px;
    background-color: rgb(65, 63, 63, 0.2);
    position: absolute;
    border-radius: 50%;
    bottom: 150px;
}

.ball_small_circle{
    width: 50px;
    height: 50px;
    background-color: rgba(155, 147, 147, 0.05);
    position: absolute;
    border-radius: 50%;
    bottom: 280px;
    filter: blur(5px);
}

.magicbacll::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}

.ball8_inner{
    width: 155px;
    height: 155px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    z-index: 2;
    position: absolute;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

@keyframes rotation {
    0%{transform: rotate(0deg) scale(0); }

    100%{transform: rotate(360deg) scale(1); }
}

@keyframes shake-it {
    0%{transform: translate(0,0) rotate(0deg) scale(1.05,1.05);}
    10%{transform: translate(10px,10px) rotate(30deg) scale(1.1,1.1);}
    20%{transform: translate(0,0) rotate(0deg) scale(1.05,1.05);}
    30%{transform: translate(-10px,10px) rotate(-30deg) scale(1.1,1.1);}
    40%{transform: translate(0,0) rotate(0deg) scale(1.1,1.1);}
    50%{transform: translate(-10px,10px) rotate(45deg) scale(1.1,1.1);}
    60%{transform: translate(0,0) rotate(-15deg) scale(1.1,1.1);}
    70%{transform: translate(10px,10px) rotate(180deg) scale(1.1,1.1);}
    80%{transform: translate(0,0) rotate(0deg) scale(1.05,1.05);}
    30%{transform: translate(-10px,10px) rotate(360deg) scale(1.05,1.05);}
    100%{transform: translate(0,0) rotate(0deg) scale(1.0,1.0);}
    
}

.question_sec{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding-top: 50px;
}

#question{
    position: relative;
    width: 500px;
    height: 35px;
    padding-left: 10px;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
}

#span{
    position: absolute;
    z-index: 0;
    width: 500px;
    top: 25px;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
}

#ask{
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 900;
    background-color: #F2A104;
    border:1px solid #F2A104;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#ask:hover{
    background-color:#cc8801;
}

input{
    border-radius: 10px;
}
input:focus{
    outline: none;
}


@media (min-width:1400px) {
    .magicbacll{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .ball8{
        width: 450px;
        height: 450px;
        background-color: black;
        border-radius: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ball8_inner{
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .triangle{
        margin-top: 25px;
        width: 0;
        height: 0;
        border: 85px solid transparent;
        border-bottom: 0;
        border-top: 115px solid #F2A104;
        transform: scale(0);
    }
}

@media (max-width:700px) {
    body{
        overflow-x: hidden;
    }
    .ball8_outer{
        
        width: 260px;
        height: 260px;
       
    }
    
    .ball8{
        
        width: 250px;
        height: 250px;
        
    }

    .ball_big_circle{
        width: 100px;
        height: 100px;
    }
    
    .ball_small_circle{
        width: 20px;
        height: 20px;
        background-color: rgba(155, 147, 147, 0.05);
        position: absolute;
        border-radius: 50%;
        bottom: 220px;
    }
    .ball8_inner{
        width: 105px;
        height: 105px;
        
    }

    .answer{
        width: 100px;
        height: 100px;
    }
    
    #question{
        width: 300px;
        height: 35px;
    }

    #span{
        width: 300px;
        font-size: 12px;
    }
}